torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
transformers==4.57.6
huggingface_hub==0.34.6
tensorflow
numpy
opencv-python
pdf2image
doclayout-yolo
paddleocr
mineru
ultralytics
accelerate
ftfy
dill
omegaconf
docling